<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <form method="post" action="/posts/<%=post.id%>/edit?_method=PATCH">
        <textarea name="caption" rows="10" cols="40">
            <%=post.caption%>
        </textarea>
        <br>
        <button class="caption-submit-btn" type="submit">Save</button>
    </form>
</body>
</html>